<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-workout" type="text" value="{{post.workout}}" />
      <span>({{post.breakfast}})</span>
    </div>
    <div>
      {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Height</th>
      <th scope="col">Weight</th>
      <th scope="col">Calories/Day</th>

      <tr>
      <th scope="row">4</th>
      <td>Kamyar</td>
      <td>Assadipour</td>
      <td>assadipourk@gmail.com</td>
      <td>6'7</td>
      <td>165</td>
      <td>3000</td>
    </tr>
  </tbody>
</table>

<div>
  <canvas id="lineChart"></canvas>
</div>
 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 <script>
  const labels = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'Weight (lbs)',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [159, 163, 161, 167, 162, 165, 168],
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {}
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('lineChart'),
    config
  );
</script>
 
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>